.text-pink,
.text-hover-pink:hover {
  color: #ff3e6c;
}

.bg-lightgreen {
  background-color: #e5f7ee;
}

.star-color {
  color: #fed948;
}

@media (min-width: 992px) {
  .custom-col-lg-2 {
    /* flex: 0 0 auto; */
    width: 20% !important;
  }
}

.border-pink {
  border-color: #fc274b !important;
}

.bg-pink {
  background-color: #fc274b;
}

.footer-bg {
  background-color: #fc274b;
}

.active {
  width: 375px;
  border-color: #ff3e6c;
}

.btn-pink {
  background-color: #ff3e6c !important;
  color: white !important;
  cursor: pointer;
}

.btn-pink:hover,
.bg-pink:hover {
  opacity: 0.9;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  width: 100%;
  background-image: url("./assets/icons8-search-30.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 30px 12px 50px;
}

.nav-link:hover {
  text-decoration: underline;
  line-height: normal;
  font-weight: bold;
}
