/* Colors */
.text-pink,
.text-hover-pink:hover {
  color: #ff3e6c;
}

.text-grey {
  color: #878787;
}

.star-color {
  color: #fed948;
}

.bg-lightgreen {
  background-color: #e5f7ee;
}

.bg-lightgrey {
  background-color: rgb(243, 243, 243);
}

.shadow-light {
  z-index: 10;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.bg-pink {
  background-color: #fc274b;
}

.footer-bg {
  background-color: rgb(243, 243, 243);
}

.border-pink {
  border-color: #fc274b !important;
}

/* Buttons */
.btn-pink {
  background-color: #ff3e6c !important;
  color: white !important;
  cursor: pointer;
}

.btn-pink:hover,
.bg-pink:hover {
  opacity: 0.9;
}

/* Centering */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Input */
input[type="search"] {
  width: 100%;
  background-image: url("./assets/icons8-search-30.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 30px 12px 50px;
}

/* Navigation */
.nav-link:hover {
  text-decoration: underline;
  line-height: normal;
  font-weight: bold;
}

/* Carousel */
/* .active {
  width: 375px;
  border-color: #ff3e6c;
} */

/* Responsive Design */
@media (min-width: 992px) {
  .custom-col-lg-2 {
    width: 20% !important;
  }
}
